<form action="" class="reply__form form">
    <label class="form__label" for="comment" >
        Comment</label>
        <textarea class="form__textarea" name="comment" id="" ></textarea>
    
    <label class="form__label" for="name">
        Name*</label>
        <input class="form__input" type="text" name="name">
    
    <label class="form__label" for="email">
        Email*</label>
        <input class="form__input" type="email" name="email">
    
    <label class="form__label" for="website">
        Website*</label>
        <input class="form__input" type="url" name="website" id="">
    
    <label class="form__label form__label-check" for="save-name">
        <input class="form__custom-checkbox"  type="checkbox" name="save-name" id="">
        Save my name, email, and website in this browser for the next time I comment
    </label>
    
    <button class="form__button button--accent" type="submit">Submit</button>
</form>