<div class="comment">
    <div class="comment__info">
        <div class="comment__user-img">
            <img src="images/content/team/2.jpg" alt="user photo">
        </div>
        <div class="comment__user-wrapper">
            <p class="comment__user-name">Mark Newman</p>
            <p class="comment__user-date">October 24.2020</p>
        </div>
    </div>
    <div class="comment__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed at arcu dui. Aenean placerat.
    </div>
    <button class="comment__reply-btn">Reply</button>
</div>